* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #FFF374;
  --primary-800: rgba(255, 243, 116, 0.08);
  --Gray-01: #FBFBFB;
  --Gray-02: #F7F7F7;
  --Gray-13: #333333;
  --Gray-14: #212121;
  --Gray-15: #171717;
  --headline-06: 24px;
  --subtitle-01: 20px; 
  --subtitle-02: 18px;
  --body-02: 16px;
  --button-02: 16px; 
  --button-03: 14px;
  --Error: #F5511D;
  --Medium-Emphasis: rgba(255,255,255,0.6);
}

/* ::-webkit-scrollbar {
    display: none;
}
  */