* {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #fff374;
  --primary-700: rgba(255, 243, 116, 0.16);
  --primary-800: rgba(255, 243, 116, 0.08);
  --mainpg: #fef69b;
  --Gray-01: #fbfbfb;
  --Gray-02: #f7f7f7;
  --Gray-05: #ececec;
  --Gray-07: #c1c1c1;
  --Gray-08: #a5a5a5;
  --Gray-09: #8b8b8b;
  --Gray-10: #6f6f6f;
  --Gray-11: #555555;
  --Gray-12: #3d3d3d;
  --Gray-13: #333333;
  --Gray-14: #212121;
  --Gray-15: #171717;
  --headline-06: 24px;
  --subtitle-01: 20px;
  --subtitle-02: 18px;
  --body-01: 18px;
  --body-02: 16px;
  --button-01: 18px;
  --button-02: 16px;
  --button-03: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --Error: #f5511d;
  --Hover: #2a291e;
  --Hover-02: #FFF594;
  --Success: #6ab6f0;
  --Medium-Emphasis: rgba(255, 255, 255, 0.6);
  --chip-sub1: #f0485a;
  --chip-sub2: #fc6644;
  --chip-sub3: #f3d25d;
  --chip-sub4: #85c940;
  --chip-sub5: #62a9f5;
  --chip-sub6: #f291c6;
  --chip-sub7: #c190ff;
}

/* ::-webkit-scrollbar {
    display: none;
}
  */
