.footer { 
  display: flex;
  /* column으로 지정 */
  justify-content: center;
  align-items: center;
  /* sticky */
  width: 100%;
  position: sticky;
  bottom: -0.2px;
  background-color: aqua;
  height: 50px;
  
}

.footercontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  background-color: aqua;
}